/*For index*/

body {
  background-color: black;
  margin:0;
}

#home_bg{
  width: 100%;
  height: auto;
}

/*Biography*/

.clearfix {
   text-align:center;
   overflow: auto;
}

.img2 {
   float: right;
}

/*(General)*/
section{
   color:white;
   padding: 10px;
}

h1{
   padding:10px;
   text-align:center;
   color:white;
}

h3{
   text-align:center;
   color:white;
}
h2{
   text-align:center;
   color:white;
}
p{
   text-align:left;
   color:white;
}

article{
   color:white;
   padding: 10px;
}

footer {
   background-color: #333;
   color: white; 
   text-align: center; 
   line-height: 3em;

}

/*Discography*/

#dis_id {
   text-align:center;
   color:white;
}

ul {

   list-style-type: none;
   margin: 0;
   padding: 0;
   color:white;
}

#disc_img {
   width: 200px;
   height: 200px;
   margin:10px;
}

/*Navigation*/

nav > ul {
   list-style-type: none;
   padding:0;
   margin:0;
   overflow: hidden;
   background-color: #333;
   top: 0;
   width: 100%;
}

ul > li > a{
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

ul > li > a:hover:not(.active) {
   background-color:darkred;
   opacity: 0.6;
}

.active {
   background-color: darkred;
}

@media screen and (max-width: 600px){
    ul > li > a{float: none;}
    body {
      background-color: black;
      margin:0;
}
}

