body {
    background-color: blue;
    background-image: url("images/rhcp-group.photo.jpg");
    background-repeat:no-repeat;
    background-size:cover;
	margin:0;
}
h1 {
    background-color: green;
}

div {
    background-color: red;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkorange;
}

.active {
    background-color: darkred;
}


.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
  text-align: center;
}
