/*(General)*/
h1{
   padding:10px;
   text-align:center;
   color:#e6e6e6;
}

h2{
   text-align:center;
   color:#e6e6e6;
}

h3{
   text-align:center;
   color:#e6e6e6;
}

h4{
   text-align:center;
   color:#e6e6e6;
}
article{
   color:#e6e6e6;
   padding: 10px;
}

footer {
   background-color: #333;
   color: #e6e6e6; 
   text-align: center; 
   line-height: 3em;

}

* {
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body, html {
	background-color: black;
padding: 0;
margin: 0;
text-align: center;
}


/*Navigation*/

nav > ul {
   list-style-type: none;
   padding:0;
   margin:0;
   overflow: hidden;
   background-color: #333;
   top: 0;
   width: 100%;
}

ul > li > a{
   float: left;
   display: block;
   color: #e6e6e6;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

ul > li > a:hover:not(.active) {
   background-color:darkred;
   opacity: 0.6;
}

.active {
   background-color: darkred;
}

@media screen and (max-width: 600px){
    ul > li > a{float: none;}
    body {
      background-color: black;
      margin:0;
   }
   
}

/*For index*/

#home_bg{
  width: 100%;
  height: auto;
}

/*Biography*/
.dimensions_b{
	width:100%;
	height:auto;
	margin:0 auto;
	
}

.clearfix {
	
   text-align:left;
   overflow: auto;
   
}

.current_members h3{
	text-align: left;
	
 }
 
.former_members pre{
	text-align: left;
	white-space: pre-wrap;
    word-wrap: break-word;
}
 
#about_the_group p{
	text-align: left;
 }	 
 
.current_members img {
    margin-right: 15px;
    float: left;
}

/*Discography*/
.r{
    text-align:right;
}

.up{
   opacity:0.7;
   width: 50px;
   height: 50px;
}

#dis_id {
   text-align:center;
   color:#e6e6e6;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   color:white;
}

.disc_img {
   width: 200px;
   height: 200px;
   margin:10px;
}


/*Multimedia*/
.group_multimedia{
	text-align:center;
	position:center;
	color:white;
	
	
}
.dimensions_video{
	width:50%;
	min-width: 230px;
	height:auto;
	margin:0 auto;
	
}
.container {
	margin:auto;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
 
.container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border:0;
}

.dimensions_rest{
	width:100%;
	height:auto;
	margin:0 auto;
	
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
    color:#e6e6e6;
    text-decoration:none;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	outline: none;
	display: block;
}


.m_icons{
	max-width: 50%;
    min-width: 200px;
    height: auto;
	margin:auto;
	display: block;
	float:center;
	
}

.m_a{
   text-align:center;
   color:#e6e6e6;
   text-decoration:none;
   width:auto;
}


/*News*/

.links:link    {color:purple; background-color:transparent; text-decoration:none}
.links:visited {color:darkred; background-color:transparent; text-decoration:none}
.links:hover   {color:red; background-color:transparent; text-decoration:underline}



.news{
   overflow:auto;
   border: 2px solid grey;
   border-radius: 5px;
   height: auto;
}

.img_news{
   float:left;
   width: 200px;
   height: 240px;
   margin:10px;
}

.icons{
   width:40px;
   height:auto;
   margin: 10px;
}

#news_b{
   background-image: url("images/bw.png");
}

.tour{
  width: 70%;
  height: auto;
}

.centerize{
   text-align:center;
}

.button {
    
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.button1 {
    background-color: darkred;
    color: white;
}

.button1:hover {
    background-color: red;
    color: white;
}
